

@keyframes background {
    
    50% {background-color:rgb(159, 192, 241);}
    
}
body {
    background-color:rgb(159, 192, 241);
    animation-name: background;
    animation-duration: 5s; 
    animation-iteration-count: infinite;
}

        /* The animation code */
    @keyframes paragraph 
    {
         0% {top: 800px;}
         100% {top: 4px;}
    }

    /* The animation code */

  
  /* The element to apply the animation to */
h1  {
    padding-top: 50px; padding-left: 27%;
    font-size: 50px;
    width: 73%;
    height: 100px;
    position: sticky;
    color: rgb(255, 255, 255);
    text-align: match-parent;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    animation-duration: 6s;
    background-color: rgb(99, 125, 240);
  }

  

  ul {
    margin: 0;
    font-size: 30px;
    background-color: aliceblue;
    border: 1px solid #000000;
    list-style-type: none;
    text-align: center;
    padding: 0;
    width: 100%;
    height: 100%; /* Full height */
    position: sticky; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }

  img{
    border: black;
  }

  li a {
    display: block;
    color:rgb(99, 125, 240);
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 1px solid #555;
  }
  
  
  li a.active {
    text-underline-offset: auto;
    background-color:rgb(99, 125, 240);
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgb(99, 125, 240);
  }
  
  li a:hover:not(.active) {
    background-color: rgb(194, 215, 247);
    color: rgb(255, 255, 255);
  }

  li {
    float: left;
    width: 25%;
  }
  

.para{
    
  font-size: 20px;
    padding-left: 25%;
    padding-top: 25px;
    font-size: 20px;
    color: rgb(255, 255, 255); 
    animation-name: paragraph;
    animation-duration: 2s;
    position: relative;
    h3  {
      text-decoration: underline ;
      text-shadow: 2px 2px 4px rgb(0, 0, 0);
    }
}

    

